ALLOWED_HOSTS=*
BANNER_TOP="VRF Context development"
CHANGELOG_RETENTION=0
DEBUG=True
DEVELOPER=True
EMAIL_FROM=netbox@example.com
EMAIL_PASSWORD=
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_TIMEOUT=5
EMAIL_USERNAME=netbox
MAX_PAGE_SIZE=0
METRICS_ENABLED=True
NAPALM_TIMEOUT=5
POSTGRES_DB=netbox
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=
POSTGRES_USER=netbox
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
# REDIS_SSL=True
# Uncomment REDIS_SSL if using SSL
SECRET_KEY=
SUPERUSER_API_TOKEN=
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_NAME=admin
SUPERUSER_PASSWORD=
