bleach==5.0.1
Django==4.0.7
django-cors-headers==3.13.0
django-debug-toolbar==3.6.0
django-filter==22.1
django-graphiql-debug-toolbar==0.2.0
django-mptt==0.13.4
django-pglocks==1.0.4
django-prometheus==2.2.0
django-redis==5.2.0
django-rich==1.4.0
django-rq==2.5.1
django-tables2==2.4.1
django-taggit==3.0.0
django-timezone-field==5.0
djangorestframework==3.13.1
drf-yasg[validation]==1.21.3
graphene-django==2.15.0
gunicorn==20.1.0
Jinja2==3.1.2
Markdown==3.4.1
mkdocs-material==8.4.2
mkdocstrings[python-legacy]==0.19.0
netaddr==0.8.0
Pillow==9.2.0
psycopg2-binary==2.9.3
PyYAML==6.0
sentry-sdk==1.9.7
social-auth-app-django==5.0.0
social-auth-core==4.3.0
svgwrite==1.4.3
tablib==3.2.1
tzdata==2022.2

# Workaround for #7401
jsonschema==3.2.0

pylint
coverage==6.3.2
django-coverage-plugin==2.0.3

git+https://github.com/k01ek/netbox-bgp.git
git+https://github.com/jbparrish17/netbox-static-routes.git

poetry
invoke
